<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ViennaTrafficMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <ViennaTrafficMonitor.Properties.Settings>
            <setting name="SenderIdDev" serializeAs="String">
                <value>wLpcx61vtJ</value>
            </setting>
            <setting name="SenderIdProd" serializeAs="String">
                <value>ubDJsLwREM</value>
            </setting>
            <setting name="MonitorRequestBegin" serializeAs="String">
                <value>http://www.wienerlinien.at/ogd_realtime/monitor?</value>
            </setting>
            <setting name="MonitorRequestEnd" serializeAs="String">
                <value>&amp;activateTrafficInfo=stoerungkurz&amp;activateTrafficInfo=stoerunglang&amp;activateTrafficInfo=aufzugsinfo&amp;sender=</value>
            </setting>
        </ViennaTrafficMonitor.Properties.Settings>
    </applicationSettings>
</configuration>