<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ViennaTrafficMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ViennaTrafficMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <applicationSettings>
    <ViennaTrafficMonitor.Properties.Settings>
      <setting name="SenderIdDev" serializeAs="String">
        <value>wLpcx61vtJ</value>
      </setting>
      <setting name="SenderIdProd" serializeAs="String">
        <value>ubDJsLwREM</value>
      </setting>
      <setting name="MonitorRequestBegin" serializeAs="String">
        <value>http://www.wienerlinien.at/ogd_realtime/monitor?</value>
      </setting>
      <setting name="MonitorRequestEnd" serializeAs="String">
        <value>&amp;activateTrafficInfo=stoerungkurz&amp;activateTrafficInfo=stoerunglang&amp;activateTrafficInfo=aufzugsinfo&amp;sender=</value>
      </setting>
    </ViennaTrafficMonitor.Properties.Settings>
  </applicationSettings>
  <appSettings>
    <!-- 
      Log
      ============================================================
      1 - Enable Logging
      0 - Disable Logging
      ============================================================
   -->
    <add key="Enable" value="1" />
    <!--
      Log Type
      ============================================================
      1 - Errors
      2 - Warnings
      3 - Information
      4 - Verbose - All errors, warning and info will be logged.
      ============================================================
   -->
    <add key="Type" value="1" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <ViennaTrafficMonitor.Properties.Settings>
      <setting name="Theme" serializeAs="String">
        <value>Dark</value>
      </setting>
      <setting name="DummyRequester" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Monitor" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Animations" serializeAs="String">
        <value>True</value>
      </setting>
    </ViennaTrafficMonitor.Properties.Settings>
  </userSettings>
</configuration>