<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!-- 
      Log
      ============================================================
      1 - Enable Logging
      0 - Disable Logging
      ============================================================
   -->
   <add key="Enable" value="1" />
   <!--
      Log Type
      ============================================================
      1 - Errors
      2 - Warnings
      3 - Information
      4 - Verbose - All errors, warning and info will be logged.
      ============================================================
   -->
   <add key="Type" value="1" />
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="Tracer" initializeData="VTM_Log.log"
                type="System.Diagnostics.TextWriterTraceListener"
                traceOutputOptions="Timestamp" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>